@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Uvod</h1>
    <div class="row">
    <p >Projektni zadatak kreiranja forme za unos škola. U ovom projektu koristili smo ASP.Net MVC i MS SQL Server, u nadi da razumemo nove funkcionalnosti koje nam donosi ASP.Net krenuli smo sa radom na ovom projektu</p>
        </div>
    <p><a href="~/Login/Index" class="btn btn-primary btn-lg">Započni &raquo;</a></p>
</div>
